#OS stuff
.DS_Store
*.log
*.swp

# Docker build artifacts
*.tar
*.img
docker-compose.override.yml
docker-compose.override.yaml

# Ignore Docker cache and volumes
**/node_modules/
**/__pycache__/
*.pyc

# Local Docker images (optional)
*.local

# Secrets and credentials
*.env
.kube/config
.kube/*.yaml

# GitHub/IDE specific
.vscode/
.idea/
*.iml

# Ignore build artifacts
build/
dist/
